<div id="breadcrumb">
	{% if template == "product" %}
	  {% if collection %}
	    <a href="/collections/{{ collection.handle }}">{{ collection.title }}</a> &raquo;
	  {% endif %}
	    {{ product.title }}
	{% endif %}

</div>
