ul#links { float: left; position: relative; }
ul#links ul { margin: 46px 0 0; background-color: #fff; padding: 2px; position: fixed; visibility:hidden; position: absolute; }
ul#links li:hover ul, ul#links a:hover ul { visibility: visible; }
ul#links ul li { height: 20px; float: none; }
ul#links ul li a { xheight: 20px; font-weight: normal; padding: 0;}